@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap");

body {
  margin: 0;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.clock {
  font-size: 50px;
  background-color: white;
  width: 250px;
  border-radius: 20px 50px;
  font-family: "Cabin", sans-serif;
}

.box {
  height: 100vh;
  background-image: linear-gradient(
    75deg,
    rgba(169, 173, 177, 0.6) 16%,
    rgba(83, 173, 217, 0.6) 32%,
    rgba(179, 67, 205, 0.8) 48%,
    rgba(206, 173, 33, 0.8) 64%,
    rgba(255, 89, 56, 0.8) 80%
  );
  background-repeat: infinite;
  background-size: 200% 200%;
  transition: 2s;
}
.box:hover {
  background-position: 100% 100%;
}
